<div class='short'>
    <div class='short__date'>{{short.date === 'Tomorrow'? 'Tomorrow': short.date | date:['EEE, d LLL']}}</div>
    <div>
        <img class='short__img' src='../../../assets/img/{{short.img}}.png'>
    </div>
    <div class='short__range'>
        <span>
            {{ (centigrades$ | async) ? short.range.max : ((short.range.max * (9/5) ) +32) | number : '1.2-2' }}°
            {{(centigrades$ | async) ?
            'C':'F'}}</span>
        <span class='short__range-min'>
            {{ (centigrades$ | async) ? short.range.min : ((short.range.min * (9/5) ) +32) | number : '1.2-2' }}°
            {{(centigrades$ | async) ?
            'C':'F'}}
        </span>
    </div>
</div>