<div class="info">
    <div class="info__search">
        <div class='info__search-button' (click)='search()'><span>Search for places</span></div>
        <mat-icon class='info__search-current' (click)='searchMyLocation()'>my_location</mat-icon>
    </div>
    <img class='info__img' src='../../../assets/img/{{info.img}}.png'>
    <div class="info__temperature">
        <span class='info__temperature-value'>{{ (centigrades$ | async ) ?
            (info.temperature | number : '1.2-2') :
            ((info.temperature * (9/5) ) +32) | number : '1.2-2' }}
        </span>
        <span class='info__temperature-metric'> {{(centigrades$|async) ? '°C':'°F'}}</span>
    </div>
    <div class="info__weather">{{info.weather}}</div>

    <div class='info__footer'>
        <div class="info__date">
            <span>Today</span>
            <span>.</span>
            <span>{{info.date | date:['EEE, d LLL']}}</span>
        </div>
        <div class="info__ubication">
            <mat-icon>place</mat-icon>
            <span>{{info.ubication}}</span>
        </div>
    </div>
</div>